<ng-include src="'/templates/navigation.html'"></ng-include>


<div class='analytics-content'> 
  <h3> {{ subText }} </h3>
  <h4> {{subText2 }} </h4>


  <div class='charts container'>
    <div class ='row'>
      <div class ="ch-title col-md-6">
        <h4> Visits to Each Page </h4>
    <visit visit-data="{{pagesVisited}}"></visit>
      </div>
      <div class ="ch-title col-md-6">
        <h4> Number of Times Songs Played </h4>
    <songs songs-data="{{songsPlayed}}"></songs>
  </div>
  </div>
    <p></p>
    <p></p>
  <div class='row'>
    <div class ="ch-title col-md-12">
        <h4> Song Length </h4>
      <h4> (Total length in seconds) </h4>
    <length length-data="{{songsPlayed}}"></length>
    </div>
   </div>
  </div>
</div>
